@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Barrio|Capriola|Eagle+Lake|Galindo|Glass+Antiqua|Kavivanar|Mirza:400,600,700|Oregano|Racing+Sans+One|Tenor+Sans&subset=latin-ext");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #fff;
}

h1 {
  color: #ddd;
  font-size: 3.5em;
  line-height: 1.5em;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 200;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 5.5vw;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 6.5vw;
  }
}

@media screen and (max-width: 630px) {
  h1 {
    font-size: 8vw;
  }
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: 9vw;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 10vw;
  }
}

h2 {
  font-size: 30px;
  line-height: 40px;
  margin-top: 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

h4 {
  font-size: 18px;
  line-height: 28px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.section-btn {
  margin: 32px 0 0 0;
  padding: 0;
}

.section-btn a,
.section-btn button {
  line-height: 45px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  color: #ddd;
  font-weight: 300;
}

.section-btn a span,
.section-btn button span {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding: 0 24px;
  background: #7c1919;
  border-radius: 1px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.csstransforms3d .section-btn a span::before,
.csstransforms3d .section-btn button span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1b1b1b;
  border-radius: 1px;
  color: #ffffff;
  padding: 0 24px;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}

.section-btn a:hover span,
.section-btn a:focus span,
.section-btn button:hover span,
.section-btn button:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
          transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .section-btn a:hover span::before,
.csstransforms3d .section-btn a:focus span::before,
.csstransforms3d .section-btn button:hover span::before,
.csstransforms3d .section-btn button:hover span::before {
  background: #1b1b1b;
}

.custom-navbar {
  margin-bottom: 0;
  padding: 2px 0 !important;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  background: 0 0;
}

@media (min-width: 768px) {
  .custom-navbar.top-nav-collapse {
    padding: 5px 0 !important;
  }
}

.custom-navbar.top-nav-collapse {
  background: #7c1919;
  padding: 0 0 !important;
}

.navbar-brand {
  color: #f9f9f9;
  font-weight: normal;
  font-size: 25px;
}

@media screen and (max-width: 576px) {
  .navbar-brand {
    margin-left: 20px;
  }
}

.nav li.active > a,
.nav li a:hover,
.nav li a:focus {
  background-color: transparent;
  color: #ddd;
}

.nav li a:hover:after,
.nav li.active > a:after {
  color: #ddd;
  width: 100%;
}

.nav li a {
  font-size: 14px;
  font-weight: normal;
  color: #f9f9f9;
  letter-spacing: 0.5px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  padding: 0;
  margin: 15px 20px;
  text-transform: uppercase;
}

.nav li a:after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 2px;
  margin: auto;
  background: transparent;
  -webkit-transition: width 0.3s ease, background-color 0.3s ease;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.navbar-toggler {
  border: none;
  padding-top: 10px;
  background-color: transparent;
}

.navbar-toggler .icon-bar {
  border-color: transparent;
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (max-width: 1000px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
  padding-top: 10vh;
}

#home p {
  padding: 32px 0;
  color: #d12a2a;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Tenor Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  #home p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 460px) {
  #home p {
    font-size: 1.3rem;
  }
}

#home .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#home video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

#groups > .container > div:nth-child(2), #groups > .container > div:nth-child(3) {
  margin: 40px auto;
}

/*************************************
Build the group and rotate on hover
**************************************/
.group {
  width: 240px;
  -webkit-perspective: 3000px;
          perspective: 3000px;
}

.group-title h3 {
  color: #d12a2a;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 40px;
}

@media screen and (max-width: 576px) {
  .group-title h3 {
    margin-bottom: 30px;
  }
}

.group-view {
  width: 240px;
  height: 450px;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-130px);
          transform: translateZ(-130px);
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.group-view:hover {
  -webkit-transform: rotateY(-75deg);
          transform: rotateY(-75deg);
}

/*************************************
Transform and style the two planes
**************************************/
.group-view .group-poster,
.group-view .group-info {
  position: absolute;
  width: 240px;
  height: 450px;
  background-color: #7c1919;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.group-view .group-poster {
  -webkit-transform: translateZ(118px);
          transform: translateZ(118px);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 0px 8px 2px #7c1919;
          box-shadow: 0px 0px 8px 2px #7c1919;
}

.group-view .group-info {
  -webkit-transform: rotateY(90deg) translateZ(130px);
          transform: rotateY(90deg) translateZ(130px);
  border: 1px solid #b8b5b5;
  font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/
.group-view::after {
  content: "";
  width: 240px;
  height: 240px;
  position: absolute;
  bottom: 0;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: rotateX(90deg) translateY(110px);
          transform: rotateX(90deg) translateY(110px);
  -webkit-transition: -webkit-box-shadow 350ms;
  transition: -webkit-box-shadow 350ms;
  transition: box-shadow 350ms;
  transition: box-shadow 350ms, -webkit-box-shadow 350ms;
}

.group-view:hover::after {
  -webkit-box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
}

/*************************************
group-view group-information
**************************************/
.group-info header {
  color: #fff;
  padding: 7px 30px;
  font-weight: bold;
  height: 195px;
  background-size: cover;
  background-repeat: no-repeat;
}

.group-info p {
  padding: 0.7em 1.4em;
  margin: 16px 0 0;
  font-weight: 700;
  color: #b7b7b7;
  line-height: 1.4em;
  border-top: 5px solid #26292E;
}

/*************************************
Generate "lighting" using box shadows
**************************************/
.group-view .group-poster,
.group-view .group-info,
.group-view .group-info header {
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
}

.group-view:hover .group-poster {
  -webkit-box-shadow: inset 550px 0px 40px #2f3238cc;
          box-shadow: inset 550px 0px 40px #2f3238cc;
}

@media screen and (max-width: 375px) {
  .group-view:hover .group-poster {
    -webkit-box-shadow: inset 750px 0px 40px #2f3238cc;
            box-shadow: inset 750px 0px 40px #2f3238cc;
  }
}

.group-view .group-info,
.group-view .group-info header {
  -webkit-box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.5);
          box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.5);
}

.group-view:hover .group-info,
.group-view:hover .group-info header {
  -webkit-box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0);
          box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0);
}

/*************************************
group-posters and still images
**************************************/
.dancers .group:nth-child(1) .group-view .group-poster {
  background-image: url(../img/youngestDancers2.jpg);
}

.dancers .group:nth-child(2) .group-poster {
  background-image: url(../img/middleDancers1.png);
}

.dancers .group:nth-child(3) .group-poster {
  background-image: url(../img/oldestDancers1.png);
}

.coach .group .group-poster {
  background-image: url(../img/coach2.jpg);
}

.group:nth-child(1) .group-info header {
  background-image: url(https://s3.amazonaws.com/ooomf-com-files/2MwGKhLETRSQoHP9UWE4_IMG_1348-3.jpg);
}

.group:nth-child(2) .group-info header {
  background-image: url(https://s3.amazonaws.com/ooomf-com-files/yEWFnFQRqfmY9l9efJ6g_Snap01-web.jpg);
}

.group:nth-child(3) .group-info header {
  background-image: url(https://s3.amazonaws.com/ooomf-com-files/5k0CgVoIS2SUJGNZKYos__DSC2198.jpg);
}

/*************************************
 Coach
**************************************/
.coach {
  /*************************************
Transform and style the two planes
**************************************/
  /*************************************
Shadow beneath the 3D object
**************************************/
}

.coach .group-view {
  width: 350px;
  height: 550px;
}

@media screen and (max-width: 375px) {
  .coach .group-view {
    height: 750px;
  }
}

.coach .group-view .group-poster {
  -webkit-transform: translateZ(175px);
          transform: translateZ(175px);
  width: 350px;
  height: 550px;
}

@media screen and (max-width: 375px) {
  .coach .group-view .group-poster {
    height: 750px;
  }
}

.coach .group-view .group-info {
  width: 350px;
  height: 550px;
  -webkit-transform: rotateY(90deg) translateZ(180px);
          transform: rotateY(90deg) translateZ(180px);
  border: 1px solid #b8b5b5;
}

@media screen and (max-width: 375px) {
  .coach .group-view .group-info {
    height: 750px;
  }
}

.coach .group-view::after {
  width: 350px;
  height: 350px;
}

/*************************************
Media Queries
**************************************/
@media screen and (max-width: 500px) {
  .coach-box {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@media screen and (max-width: 460px) {
  .coach-box {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@media screen and (max-width: 375px) {
  .coach-box {
    -webkit-transform: scale(0.78);
            transform: scale(0.78);
    margin-left: -25px;
  }
  .coach .group-info h4 {
    font-size: 24px;
  }
  .coach .group-info p {
    font-size: 22px;
  }
}

@media screen and (max-width: 355px) {
  .coach-box {
    -webkit-transform: scale(0.68);
            transform: scale(0.68);
    margin-left: -35px;
  }
}

.carousel .carousel-indicators li {
  width: 0.725rem;
  height: 0.725rem;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-inner {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 8px rgba(0, 0, 0, 0.15);
}

.carousel-inner .carousel-item {
  opacity: 0;
  -webkit-transition-duration: 2.5s;
          transition-duration: 2.5s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next.carousel-item-left,
.carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-right.active {
  opacity: 0;
}

.view {
  position: relative;
  overflow: hidden;
  cursor: default;
}

.view .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.maskColor,
.maskColor:after {
  background-color: rgba(158, 157, 157, 0.3);
}

.wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#dancers .item {
  display: block;
  width: 100%;
  margin-bottom: 22px;
  max-width: 100%;
}

#dancers h3,
#dancers p {
  margin: 0;
}

#dancers h3 {
  color: #d12a2a;
  text-align: left;
}

#dancers h4 {
  font-size: 16px;
  font-weight: 600;
}

#dancers h4:first-of-type {
  margin-bottom: 0;
}

#dancers .row {
  margin-bottom: 70px;
}

.team-item {
  overflow: hidden;
  position: relative;
  margin-top: 32px;
  margin-bottom: 16px;
  -webkit-box-shadow: 0 0 4px 2px #ffffff80;
          box-shadow: 0 0 4px 2px #ffffff80;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.team-item img {
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.team-item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team-item:hover {
  -webkit-box-shadow: 0 0 4px 2px #26292E;
          box-shadow: 0 0 4px 2px #26292E;
}

.team-item:hover .team-overlay {
  opacity: 1;
}

.team-overlay {
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.dance-class {
  position: relative;
  top: 45%;
  right: 20%;
  color: #fff;
  text-transform: uppercase;
}

.dance-class span {
  display: block;
  background: #ffffff;
  border-radius: 50%;
  color: #191919;
  width: 48px;
  height: 32px;
  line-height: 32px;
  margin: 16px auto;
}

#news .container .container {
  width: 70%;
}

.facebook-link {
  text-align: center;
  padding-right: 50px;
}

.facebook-link img {
  width: 10vw;
  -webkit-box-shadow: 0 5px 11px 1px #31446f, 0 2px 7px 4px rgba(69, 97, 157, 0.6);
          box-shadow: 0 5px 11px 1px #31446f, 0 2px 7px 4px rgba(69, 97, 157, 0.6);
}

.shaking:hover {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
}

.facebook-link + div {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.facebook-link + div:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.facebook-link + div:hover h3 {
  color: #8197c7;
}

.facebook-link + div a {
  text-decoration: none;
}

.facebook-link + div h3 {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.gallery-nav {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 28.8px;
  line-height: 1em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .gallery-nav {
    display: none;
  }
}

#gallery Li {
  width: 25vw;
  height: auto;
  max-width: 130px;
}

#gallery .container img {
  width: 100%;
  height: auto;
}

.filter {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter li {
  margin-bottom: 28.8px;
  padding: 0;
}

.filter li a:hover {
  color: #858d9b;
}

.filter li.active a {
  color: #d12a2a;
}

@media (max-width: 768px) {
  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.showcase-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding-left: 50px;
}

@media (max-width: 1000px) {
  .showcase-list {
    margin-left: 20px;
  }
}

@media (max-width: 576px) {
  .showcase-list {
    margin-left: 0;
    padding-left: 0;
  }
}

.showcase-list li {
  margin-left: 40px;
}

.showcase-list .item img {
  margin-bottom: 25px;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 8px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.showcase-list .item img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.lightcase-icon-close:before {
  content: '\2718' !important;
}

.lightcase-icon-prev:before {
  content: '\2B9C' !important;
}

.lightcase-icon-next:before {
  content: '\2B9E' !important;
}

.lightcase-icon-spin:before {
  content: '\058D' !important;
}

.lightcase-icon-pause:before {
  content: '\23F8' !important;
}

.lightcase-icon-play:before {
  content: '\25B6' !important;
}

.contact-details > * {
  margin: 0 0 60px;
  line-height: 28px;
  padding: 0;
}

.contact-details > * h3 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 1em;
  text-transform: uppercase;
}

#contact-form div {
  margin-bottom: 2px;
}

#contact-form div#contact-submit {
  margin-bottom: 128px;
}

#contact-form input,
#contact-form textarea {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #26292E;
  color: white;
  font-size: 16px;
  height: auto;
  padding: 15px;
}

#contact-form textarea {
  resize: vertical;
}

.dancing-banner {
  background: url("../../img/danceAnimation.gif") no-repeat;
  background-size: cover;
  background-position: 10% 70%;
  border-radius: 4px;
}

.invitation {
  width: auto;
  min-height: 15vw;
  position: relative;
}

@media screen and (max-width: 900px) {
  .invitation {
    min-height: 22vw;
  }
}

.invitation p {
  font-size: 40px;
  font-style: italic;
  font-weight: 700;
  position: absolute;
  bottom: 40px;
  left: 40px;
}

@media screen and (max-width: 670px) {
  .invitation p {
    font-size: 30px;
    bottom: 20px;
    left: 20px;
  }
}

@media screen and (max-width: 430px) {
  .invitation p {
    font-size: 20px;
    bottom: 5px;
    left: 5px;
  }
}

#response {
  margin-top: 20px;
  color: #FFFFFF;
}

input[type=text], input[type=email], textarea {
  border: 1px solid #ccc;
  padding: 8px;
  margin: 2px 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #8f8f8f;
  width: 250px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 8px #e5e8e7;
          box-shadow: inset 0 0 8px #e5e8e7;
}

input[type=submit] {
  border: none;
  padding: 8px 25px;
  margin: 2px 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background: #0d7963;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  opacity: 0.9;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
  color: #ddd;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: white;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #d12a2a;
}

ul {
  list-style: none;
}

a {
  color: #ddd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #d83d3d;
  outline: none;
  text-decoration: none;
}

a[href^="tel:"]:before {
  content: "\260f";
  margin-right: 0.5em;
}

a[href^="mailto:"]:before {
  content: "\2709";
  margin-right: 0.5em;
}

.lighter-background {
  background-color: #3d424a;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
}

.darker-background {
  background-color: #26292E;
}

section {
  position: relative;
}

.section-title {
  padding-top: 22px;
}

.negative-top-margin {
  margin-top: 40px;
}

@media screen and (min-width: 850px) and (max-width: 1400px) {
  .negative-top-margin {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1401px) {
  .negative-top-margin {
    margin-top: 95px;
  }
}

svg {
  width: 100vw;
  height: 80px;
  fill: #26292E;
}

@media screen and (min-width: 850px) and (max-width: 1400px) {
  svg {
    height: 120px;
  }
}

@media screen and (min-width: 1401px) {
  svg {
    height: 190px;
  }
}

svg:first-of-type {
  fill: #7c1919;
}

.couple-icon {
  position: absolute;
  top: -50px;
  right: 10vw;
  height: 100px;
}

@media screen and (max-width: 600px) {
  .couple-icon {
    height: 80px;
    top: -35px;
  }
}

footer {
  background-color: #7c1919;
  font-size: 14px;
  text-align: right;
  padding-top: 2.8px;
  padding-bottom: 2.8px;
}

footer span {
  margin-right: 42px;
  margin-top: -60px;
}

#back-to-top {
  position: fixed;
  right: 60px;
  bottom: 50px;
  padding: 2px 12px;
  font-size: 25.6px;
  background-color: #e0e0e0;
  color: #26292E;
  opacity: 0;
  -webkit-transition: all linear 350ms;
  transition: all linear 350ms;
}

@media screen and (max-width: 600px) {
  #back-to-top {
    right: 30px;
    font-size: 21.76px;
  }
}

#back-to-top.show {
  opacity: 0.5;
}

#back-to-top.show:hover {
  font-size: 26.112px;
  background-color: #7c1919;
  color: #ddd;
  opacity: 0.8;
  -webkit-transition: all linear 350ms;
  transition: all linear 350ms;
}

/*----------------------------*/
