@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Barrio|Capriola|Eagle+Lake|Galindo|Glass+Antiqua|Kavivanar|Mirza:400,600,700|Oregano|Racing+Sans+One|Tenor+Sans&subset=latin-ext");
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #fff;
}

h1 {
  font-size: 40px;
  font-weight: 200;
  line-height: 48px;
  font-family: 'Tenor Sans', sans-serif;
}

h2 {
  font-size: 30px;
  line-height: 40px;
  margin-top: 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

h4 {
  font-size: 18px;
  line-height: 28px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.section-btn {
  margin: 32px 0 0 0;
  padding: 0;
}

.section-btn a,
.section-btn button {
  line-height: 45px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  color: #ddd;
  font-weight: 300;
}

.section-btn a span,
.section-btn button span {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  padding: 0 24px;
  background: #7c1919;
  border-radius: 1px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.csstransforms3d .section-btn a span::before,
.csstransforms3d .section-btn button span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1b1b1b;
  border-radius: 1px;
  color: #ffffff;
  padding: 0 24px;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}

.section-btn a:hover span,
.section-btn a:focus span,
.section-btn button:hover span,
.section-btn button:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
          transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .section-btn a:hover span::before,
.csstransforms3d .section-btn a:focus span::before,
.csstransforms3d .section-btn button:hover span::before,
.csstransforms3d .section-btn button:hover span::before {
  background: #1b1b1b;
}

.custom-navbar {
  margin-bottom: 0;
  background-color: #7c1919;
  padding: 10px 0;
}

@media (min-width: 768px) {
  .custom-navbar {
    background: 0 0;
  }
  .custom-navbar.top-nav-collapse {
    background: #7c1919;
    padding: 15px 0;
  }
}

.navbar-brand {
  color: #f9f9f9;
  font-weight: normal;
  font-size: 25px;
}

.nav li.active > a,
.nav li a:hover,
.nav li a:focus {
  background-color: transparent;
  color: #ddd;
}

.nav li a:hover:after,
.nav li.active > a:after {
  color: #ddd;
  width: 100%;
}

.nav li a {
  font-size: 14px;
  font-weight: normal;
  color: #f9f9f9;
  letter-spacing: 0.5px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  padding: 0;
  margin: 15px 20px;
  text-transform: uppercase;
}

.nav li a:after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 2px;
  margin: auto;
  background: transparent;
  -webkit-transition: width 0.3s ease, background-color 0.3s ease;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.navbar-toggle {
  border: none;
  padding-top: 10px;
  background-color: transparent;
}

.navbar-toggle .icon-bar {
  border-color: transparent;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
  padding-top: 10vh;
}

#home h1 {
  color: #ddd;
  font-size: 3.5em;
  line-height: 1.3em;
  font-family: "Tenor Sans", sans-serif;
}

#home p {
  padding: 32px 0;
  color: #d12a2a;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Tenor Sans", sans-serif;
}

#home .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#home video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.stage {
  list-style: none;
  padding: 0;
}

/*************************************
Build the group and rotate on hover
**************************************/
.group {
  width: 260px;
  height: 400px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.group-view {
  width: 260px;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-130px);
  transform: translateZ(-130px);
  -webkit-transition: -webkit-transform 350ms;
  transition: -webkit-transform 350ms;
  transition: transform 350ms;
  transition: transform 350ms, -webkit-transform 350ms;
}

.group-view:hover {
  -webkit-transform: rotateY(-78deg) translateZ(20px);
  transform: rotateY(-75deg) translateZ(20px);
}

/*************************************
Transform and style the two planes
**************************************/
.group-view .group-poster,
.group-view .group-info {
  position: absolute;
  width: 260px;
  height: 400px;
  background-color: #7c1919;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.group-view .group-poster {
  -webkit-transform: translateZ(130px);
  transform: translateZ(130px);
  background-size: cover;
  background-repeat: no-repeat;
}

.group-view .group-info {
  -webkit-transform: rotateY(90deg) translateZ(130px);
  transform: rotateY(90deg) translateZ(130px);
  border: 1px solid #B8B5B5;
  font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/
.group-view::after {
  content: '';
  width: 260px;
  height: 260px;
  position: absolute;
  bottom: 0;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotateX(90deg) translateY(130px);
  transform: rotateX(90deg) translateY(130px);
  -webkit-transition: box-shadow 350ms;
  -webkit-transition: -webkit-box-shadow 350ms;
  transition: -webkit-box-shadow 350ms;
  transition: box-shadow 350ms;
  transition: box-shadow 350ms, -webkit-box-shadow 350ms;
}

.group-view:hover::after {
  -webkit-box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
}

/*************************************
group-view group-information
**************************************/
.group-info header {
  color: #FFF;
  padding: 7px 30px;
  font-weight: bold;
  height: 195px;
  background-size: contain;
  background-repeat: no-repeat;
}

.group-info p {
  padding: 1.2em 1.4em;
  margin: 2px 0 0;
  font-weight: 700;
  color: #b7b7b7;
  line-height: 1.4em;
  border-top: 5px solid #26292E;
}

/*************************************
Generate "lighting" using box shadows
**************************************/
.group-view .group-poster,
.group-view .group-info,
.group-view .group-info header {
  -webkit-transition: box-shadow 350ms;
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
}

.group-view .group-poster {
  -webkit-box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0);
          box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0);
}

.group-view:hover .group-poster {
  -webkit-box-shadow: inset 300px 0px 40px #2F3238cc;
          box-shadow: inset 300px 0px 40px #2F3238cc;
}

.group-view .group-info,
.group-view .group-info header {
  -webkit-box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.5);
          box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.5);
}

.group-view:hover .group-info,
.group-view:hover .group-info header {
  -webkit-box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0);
          box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0);
}

/*************************************
group-posters and still images
**************************************/
.group:nth-child(1) .group-view .group-poster {
  background-image: url(https://s3.amazonaws.com/ooomf-com-files/Vgu1RUfKT3WN1ZYxSWaR_14672519443_13d8873062_k.jpg);
}

.group:nth-child(2) .group-poster {
  background-image: url(https://s3.amazonaws.com/ooomf-com-files/LGhxuAbT5Wop4JYcrMpV_IMG_3808.jpg);
}

.group:nth-child(3) .group-poster {
  background-image: url(https://s3.amazonaws.com/ooomf-com-files/bXoAlw8gT66vBo1wcFoO_IMG_9181.jpg);
}

.group:nth-child(1) .group-info header {
  background-image: url(https://s3.amazonaws.com/ooomf-com-files/2MwGKhLETRSQoHP9UWE4_IMG_1348-3.jpg);
}

.group:nth-child(2) .group-info header {
  background-image: url(https://s3.amazonaws.com/ooomf-com-files/yEWFnFQRqfmY9l9efJ6g_Snap01-web.jpg);
}

.group:nth-child(3) .group-info header {
  background-image: url(https://s3.amazonaws.com/ooomf-com-files/5k0CgVoIS2SUJGNZKYos__DSC2198.jpg);
}

/*************************************
Fallback
**************************************/
/*************************************
Media Queries
**************************************/
@media screen and (max-width: 60.75em) {
  .group {
    float: none;
    margin: 30px auto 60px;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
  color: #ddd;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: white;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #d12a2a;
}

a {
  color: #ddd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #000000;
  outline: none;
}

.lighter-backgrund {
  background-color: #3d424a;
}

.darker-background {
  background-color: #26292E;
}

section {
  position: relative;
}

.section-title {
  padding-top: 22px;
}

.negative-top-margin {
  margin-top: 90px;
}

svg {
  width: 100vw;
  height: 180px;
  fill: #26292E;
}

svg:first-of-type {
  fill: #7c1919;
}

/*----------------------------*/
