.section-btn {
  margin: 2*$general-font-size 0 0 0;
  padding: 0;
}

.section-btn a,
.section-btn button {
  line-height: 45px;
  perspective: 1000px;
  color: $general-text-color;
  font-weight: $general-font-weight;
}

.section-btn a span,
.section-btn button span {
  position: relative;
  display: inline-block;
  font-size: $general-font-size + 2px;
  font-weight: $general-font-weight;
  letter-spacing: 0.5px;
  padding: 0 1.5*$general-font-size;
  background: $navbar-background-color;
  border-radius: 1px;
  transition: transform 0.3s;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
}

.csstransforms3d .section-btn a span::before,
.csstransforms3d .section-btn button span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1b1b1b;
  border-radius: 1px;
  color: #ffffff;
  padding: 0 1.5*$general-font-size;
  content: attr(data-hover);
  transition: background 0.3s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
}

.section-btn a:hover span,
.section-btn a:focus span,
.section-btn button:hover span,
.section-btn button:focus span {
   transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .section-btn a:hover span::before,
.csstransforms3d .section-btn a:focus span::before,
.csstransforms3d .section-btn button:hover span::before,
.csstransforms3d .section-btn button:hover span::before {
  background: #1b1b1b;
}
