.contact-details > * {
	margin: 0 0 60px;
	line-height: 28px;
	padding: 0;

	& h3 {
		color: #FFFFFF;
			font-size: $general-font-size + 2px;
			font-weight: $general-font-weight + 100;
			margin-bottom: 1.5*$general-font-size;
			line-height: 1em;
			text-transform: uppercase;
	}
}

#contact-form {
	& div {
		margin-bottom: 2px;
		&#contact-submit{
			margin-bottom: 8*$general-font-size;

		}
	}
	& input,
	& textarea {
			border: none;
			border-radius: 0;
			box-shadow: none;
			background: $darker-background-color;
			color: rgb(255, 255, 255);
			font-size: 16px;
			height: auto;
			padding: 15px;

	}

	& textarea {
		resize: vertical;
		}
}

.dancing-banner {
  background: url("../../img/danceAnimation.gif") no-repeat;
  background-size: cover;
  background-position: 10% 70%;
  border-radius: 4px;

  // position: relative;

}
.invitation {
  width: auto;
  min-height: 15vw;
	position: relative;
	@media screen and (max-width: 900px) {
		min-height: 22vw;
	}
  & p{
    // padding-bottom: 40px;
    font-size: 40px;
    font-style: italic;
    font-weight:700;
    position: absolute;
    bottom: 40px;
    left: 40px;
		@media screen and (max-width: 670px) {
			font-size: 30px;
			bottom: 20px;
			left: 20px;
		}
		@media screen and (max-width: 430px) {
			font-size: 20px;
			bottom: 5px;
			left: 5px;
		}
  }
}


#response {
	margin-top: 20px;
	color: #FFFFFF;
}