.wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#dancers .item {
  display: block;
  width: 100%;
  margin-bottom: 22px;
  max-width: 100%;}
  #dancers {
    & h3,
    & p {
      margin: 0;
    }
    & h3 {
      color: lighten($navbar-background-color, 20%);
      text-align: left;
    }
    & h4 {
      font-size: $general-font-size;
      font-weight: 600;
      &:first-of-type {
        margin-bottom: 0;
      }
    }
    & .row {
      margin-bottom: 70px;
    }
  }


.team-item {
  overflow: hidden;
  position: relative;
  margin-top: 2 * $general-font-size;
  margin-bottom: $general-font-size;
  box-shadow: 0 0 4px 2px #ffffff80;
  transition: all ease-in-out 0.4s;
  & img {
    transition: all ease-in-out 0.4s;
  }
  &:hover img {
    transform: scale(1.1);
  }
  &:hover {
    box-shadow: 0 0 4px 2px $darker-background-color;
  }
  &:hover .team-overlay {
    opacity: 1;
  }
}
.team-overlay {
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all ease-in-out 0.4s;
}
.dance-class {
  position: relative;
  top: 45%;
  right: 20%;
  color: #fff;
  text-transform: uppercase;

  & span {
    display: block;
    background: #ffffff;
    border-radius: 50%;
    color: #191919;
    width: 3 * $general-font-size;
    height: 2 * $general-font-size;
    line-height: 2 * $general-font-size;
    margin: $general-font-size auto;
  }
}