.gallery-nav {
  color: #ffffff;
  font-size: 24px;
  // font-weight: 300;
  margin-bottom: 1.8*$general-font-size;
  line-height: 1em;
  text-transform: uppercase;
  @media (max-width: 768px){
    display: none;
  }
}
#gallery Li {
  width: 25vw;
  height: auto;
  max-width: 130px;

}
#gallery img {
  width: 100%;
  height: auto;
  // max-width: 130px;
}
.filter {
  margin: 0;
  padding: 0;
  list-style: none;
  & li {
    margin-bottom: 1.8*$general-font-size;
    padding: 0;
    & a:hover {
      color: lighten($darker-background-color, 40%);
    }
    &.active a {
      color: lighten($navbar-background-color, 20%);
    }
  }
  @media (max-width: 768px){
    display: flex;
    justify-content: space-between;
  }
}
.showcase-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding-left: 50px ;

  @media (max-width: 1000px){
    margin-left: 20px;
  }
  @media (max-width: 576px){
    margin-left: 0;
  padding-left: 0;
  }
  & li {
    margin-left: 40px;

  }
  & .item img {

    margin-bottom: 25px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 8px rgba(0, 0, 0, 0.15);
    transition: all .4s;
    &:hover {
      transform: scale(1.02);
    }
  }
}
// lightcase
.lightcase-icon-close:before {
  content: '\2718' !important;
}
.lightcase-icon-prev:before {
  content: '\2B9C' !important;
}
.lightcase-icon-next:before {
  content: '\2B9E' !important;
}
.lightcase-icon-spin:before {
  content: '\058D' !important;
}
.lightcase-icon-pause:before {
  content: '\23F8' !important;
}
.lightcase-icon-play:before {
  content: '\25B6' !important;
}