#home {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  padding-top: 10vh;
}

#home p {
  padding: 2*$general-font-size 0;
  color: lighten($navbar-background-color, 20%);
  font-size: 2rem;
  font-weight: $general-font-weight-bold;
  font-family: $home-font-family;
  @media screen and (max-width: 768px) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 460px) {
    font-size: 1.3rem;
  }
}

#home .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.70);
}

#home video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
