.custom-navbar {
  margin-bottom: 0;
  // background-color: $navbar-background-color;
  padding: 2px 0 !important;
  transition: .2s ease-in-out;
  background: 0 0;
  @media (min-width: 768px) {
    &.top-nav-collapse {
       padding: 5px 0 !important;
    }
  }

    &.top-nav-collapse {
      background: $navbar-background-color;
      padding: 0 0 !important;

  }
}
.navbar-brand {
  //logo
  color: $navbar-text-color;
  font-weight: normal;
  font-size: 25px;
  @media screen and (max-width: 576px) {
    margin-left: 20px;
  }
}

.nav li {
  &.active > a,
  & a:hover,
  & a:focus {
    background-color: transparent;
    color: $general-text-color;
  }
  & a:hover:after,
  &.active > a:after {
    // background: $general-background-color;
    color: $general-text-color;
    width: 100%;
  }
  & a {
    //links
    font-size: 14px;
    font-weight: normal;
    color: $navbar-text-color;
    letter-spacing: 0.5px;
    transition: all ease-in-out 0.4s;
    padding: 0;
    margin: 15px 20px;
    text-transform: uppercase;

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 0px;
      height: 2px;
      margin: auto;
      background: transparent;
      transition: width 0.3s ease, background-color 0.3s ease;
    }
  }
}
.navbar-toggler {
  border: none;
  padding-top: 10px;
  background-color: transparent;

  & .icon-bar {
    // background: $general-background-color;
    border-color: transparent;
  }

}
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (max-width: 1000px){
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}}