html,
body {
  height: 100%;
  width: 100%;

}
html{
  scroll-behavior: smooth;
}
body {
  // background: $general-background-color;
  font-family: $general-font-family;
  overflow-x: hidden;
  color: $general-text-color;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: white;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: lighten($navbar-background-color, 20%);
}
ul {
  list-style: none;
}
a {
  color: $general-text-color;
  transition: 0.5s;
  &:hover,
  &:active,
  &:focus {
    color: lighten($navbar-background-color, 25%);
    outline: none;
    text-decoration: none;
  }

  &[href^="tel:"]:before {
    content: "\260f";
    margin-right: 0.5em;
  }
  &[href^="mailto:"]:before {
    content: "\2709";
    margin-right: 0.5em;
  }

}




.lighter-background {
  background-color: $lighter-background-color;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  // background-image: url("https://www.transparenttextures.com/patterns/navy.png");
}
.darker-background {
  background-color: $darker-background-color;
}

// SPRAWDZIC CZY WYSTEPUJE
//buttons i preloader w stylach tooplate-style.css
section {
  position: relative;
}
.section-title {
  padding-top: 22px;
}
.negative-top-margin {
  margin-top: 0.5 * $svg-polygon-height;

  @media screen and (min-width: 850px) and (max-width: 1400px) {
    margin-top: 0.5 * $svg-polygon-height-md;
  }
  @media screen and (min-width: 1401px) {
    margin-top: 0.5 * $svg-polygon-height-xl;
  }
}
// .container {
//   @media screen and (max-width: 576px){
// 		margin-left: 2rem;
// 		margin-right: 2rem;
// 	}
// }
svg {
  width: 100vw;
  height: $svg-polygon-height;
  fill: $darker-background-color;
  // fill: $lighter-background-color;
  @media screen and (min-width: 850px) and (max-width: 1400px) {
    height: $svg-polygon-height-md;
  }
  @media screen and (min-width: 1401px) {
    height: $svg-polygon-height-xl;
  }
}
svg:first-of-type {
  fill: $navbar-background-color;
}

.couple-icon {
  position: absolute;
  top: -0.5 * $couple-icon-height;
  right: 10vw;
  height: $couple-icon-height;
  @media screen and (max-width: 600px) {
    height: 0.8 * $couple-icon-height;
    top: -0.35 * $couple-icon-height;
  }
}

footer{

  background-color: $navbar-background-color;
  font-size: $footer-font-size;
  text-align: right;
  padding-top: .2*$footer-font-size;
  padding-bottom: .2*$footer-font-size;
  & span {
    margin-right: 3*$footer-font-size;
    margin-top: -60px;

  }
}


// back to top button which show after scrolling

#back-to-top {
  position: fixed;
  right: 60px;
  bottom: 50px;
  padding: 2px 12px;
  font-size: $back-to-top-font-size;
  background-color: $back-to-top-background-color;
  color: $darker-background-color;
  opacity: 0;
  transition: all linear 350ms;
  @media screen and (max-width: 600px) {
    right: 30px;
    font-size: 0.85 * $back-to-top-font-size;
  }
}

#back-to-top.show {
  opacity: 0.5;
}

#back-to-top.show:hover {
  font-size: 1.02 * $back-to-top-font-size;
  background-color: $navbar-background-color;
  color: $general-text-color;
  opacity: 0.8;
  transition: all linear 350ms;
}

// .parallax-section {
//   background-attachment: fixed !important;
//   background-size: cover !important;
// }

// #about,
// #project,
// #team,
// #contact,
// footer {
//   background: #ffffff;
// }

// #about,
// #team,
// #contact {
//   padding-top: 100px;
//   padding-bottom: 100px;
//   text-align: center;
// }

//body
// {
//     height: 100%;
//     width: 100%;
//     background-color: $general-background-color;
//     font-family: $general-font-family;
//     font-size: $general-font-size;
//     font-weight: $general-font-weight;
//     margin: 0;
//     line-height: $general-line-height;
//     text-align: $general-text-align;
//     color: $general-text-color;
//     @include breakpoints(tablet) {  //Scale for typography: mobile(less than tablet)
//         font-size: 0.89*$general-font-size;
//         line-height: 0.85*$general-line-height;
//      }

// }

// .container
// {
//     width: $general-container-width;
//     margin: 0 auto;
//     overflow: hidden;
//     @include breakpoints (desktopXL) {
//         width: $general-container-width - 10%;
//     }
//     @include breakpoints(laptop) {
//         width: 100%;
//         padding: 0 5%;
//     }
// }
// section
// {
//     box-shadow: 0 0 6px 2px #171717;

//     &:not(:first-child)
//     {
//         padding: $section-top-bottom-padding 0;

//         > h2
//         {
//             margin-bottom: $section-h2-bottom-margin;
//         }
//     }
//     &:first-child:not(#presentation-slideshow)
//     {
//         margin: 2.5% 0 0 0;
//     }

// }
// .footer
// {
//     color: white;
//     background-color: $general-color;
//     width: 100%;
//     height: auto;
//     font-size: $general-font-size - 2px;
//     text-align: center;
//     padding: 5px 0;
// }
// h2, h3
// {

//     color:$general-text-color;
//     font-weight: $general-font-weight  ;
//     padding: $general-font-size 0;
//     text-align: center;
//     font-family: $heading-font-family;
// }
// h2
// {
//     font-size: $heading-h2-font-size;
//     font-style: $headings-font-style;
//     text-shadow: 2px 2px 2px rgba(125, 125, 125, .4);
//     @include breakpoints(desktopXL) {
//         font-size: 1.2*$heading-h2-font-size;
//     }
//     @include breakpoints(laptop) {
//         font-size: .85*$heading-h2-font-size;
//     }
//     @include breakpoints(tablet) {
//         font-size: .7*$heading-h2-font-size;
//     }
// }
// h3
// {
//     font-size: $heading-h3-font-size;

//     @include breakpoints(desktop) {
//         font-size: .8*$heading-h3-font-size;
//     }
//     @include breakpoints(laptop) {
//         padding: .5*$general-font-size 0;
//     }
//     @include breakpoints(tablet) {
//         font-size: .7*$heading-h3-font-size;
//     }
// }
// //google maps
// #gmap_canvas img
// {   max-width:  none!important;
//     background: none!important}
// a
// {
//     color: $general-text-color;
//     &:hover {
//         cursor: pointer;
//     }
// }
